.site-wrapper {
display: flex;
flex-direction: column;
min-height: 100vh;
width: 100%;
margin-top: auto;
}
.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    /* to make scrollbar hidden
    because of transform in a:hover
    */
    overflow: hidden;
}
.logo-item {
    margin-right: auto;
}
.logo-item h2 {
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.left-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.left-item a {
    color: #4D4D4D;
    font-weight: 500;
}

.items {
    margin-right: 1rem;
}
.header a:hover {
    transform: translate(1px, 1px);
    text-decoration: underline;
    color: #161616;
    font-weight: 600;
}

.header .my-link {
    color: #161616;
    font-weight: bold;
    text-decoration: underline;
}