.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100%;
}
.logo-item{
    margin-right: auto;
}
.logo-item h2 {
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.left-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.items{
    margin-right: 1rem;
    color: #4D4D4D;
}
.header a:hover {
    transform: translate(1px, 1px);
    text-decoration: underline;
}
