.vans-container h2 {
    font-weight: 800;
    margin-left: 2rem;
}
.all-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0rem;
}
.all-buttons button{
    width: 7rem;
    height: 2rem;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    border-style: none;
    color: #4D4D4D;
    font-size: 1rem;
    background-color: rgb(247, 225, 218);
}
.all-buttons button:hover{
    transform: translate(1px, 1px);
}

.vans-organize{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.vans-item{
    flex: 1 0 40%;
    margin: 0.625rem;
    width: 100%;
}
.vans-item img{
    max-width: 100%;
}