*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    background-color:  #FFF7ED;
    font-family: "Inter", sans-serif;
}
a {
    text-decoration: unset;
    color: unset;
}
/* Footer */
footer {
    display: flex;
    background-color: #161616;
    height: 20vh;
    align-items: center;
    color: #AAAAAA;
    justify-content: center;
    margin-top: auto;
}